   <meta charset="utf-8">
  <div class="form-group" style="width: 80%;margin-top: 60px; float:left;margin-left: 10px">    
       新增负面情感词【格式:词|权值，以空格分隔，如："投诉|100"】： <textarea ng-model="stopwords" id="msgtxt" class="form-control" rows="3" cols="100" style="display:inline;margin: 0px;"></textarea>
    <button ng-click="addneg()">新增负面词</button>
    <button ng-click="delneg()">删除负面词</button>
	<br/>
	<br /> 
	
    <div  style=" width: 50%; overflow-x:auto; overflow-y:auto;float:left">
<table class="table table-bordered table-condensed" style="color: wheat;  background-color: #333;">
            <thead>
            <tr>
               <th>创建时间</th>
               <th>停用词</th>
               <th>权值</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="e in list">
                <td style="word-wrad:bread-word;word-break:break-all;">{{ e.crtTime }}</td>
                <td style="word-wrad:bread-word;word-break:break-all;">{{ e.word }}</td>
                <td style="word-wrad:bread-word;word-break:break-all;">{{ e.value }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    
 </div>