  <meta charset="utf-8">
 <div class="form-group" style="width: 80%;margin-top: 60px; float:left;margin-left: 10px">
              重新选择主题数：<input ng-model="minK" id="minK" type="text" class="form-control" style="width:20%;display: inline;"></input>
	<button class="btn btn-default" style="background-color:#97a098;color:white;border: 0px;" ng-click="send()">模型重新计算</button>
	<br/>
	<br/> 
	
  <div  style=" width: 100%; overflow-x:auto; overflow-y:auto;float:left;background-color:white;">
  
  <div class="table-box" style="margin: 20px;">
    <div id="toolbar">
         <button id="searchbtn" class="btn btn-default" style="background-color:#97a098;color:white;border: 0px;"><span class="glyphicon glyphicon-search"></span> 搜索</button>
        <button id="getTableData" class="btn btn-default" style="background-color:#b9c135;color:white;border: 0px;"> <span class="glyphicon glyphicon-download-alt"></span> 导出</button>
    </div>
    <table id="table"></table>
</div>

    </div>
    
   
    </div>
    