  <meta charset="utf-8">
 <div class="form-group" style="width: 80%;margin-top: 60px; float:left;margin-left: 10px">
              重新选择主题数：<input ng-model="minK" id="minK" type="text" class="form-control" style="width:20%;display: inline;"></input>
	<button class="btn btn-default" style="background-color:#97a098;color:white;border: 0px;" ng-click="send()">模型重新计算</button>
	<br/>
	<br/> 
	
	

	
  <div  style=" width: 100%; overflow-x:auto; overflow-y:auto;float:left;background-color:white;">
  
  <div class="table-box" style="margin: 20px;">
    <div id="toolbar">
        <button id="button" class="btn btn-default" style="background-color:#1caf27;color:white;border: 0px;"> <span class="glyphicon glyphicon-edit"></span> 修改</button>
         <button id="searchbtn" class="btn btn-default" style="background-color:#97a098;color:white;border: 0px;"><span class="glyphicon glyphicon-search"></span> 搜索</button>
        <button id="getTableData" class="btn btn-default" style="background-color:#b9c135;color:white;border: 0px;"> <span class="glyphicon glyphicon-download-alt"></span> 导出</button>
    </div>
    <table id="table"></table>
</div>

    </div>
    
    
     <div  style=" width: 50%; overflow-x:auto; overflow-y:auto;float:left;background-color:white;">
  
  <div class="table-box" style="margin: 20px;">
    <div id="toolbar02">
        <button id="addbutton02" class="btn btn-default" style="background-color:#391caf;color:white;border: 0px;">  <span class="glyphicon glyphicon-plus"></span> 新增</button>
         <button id="delbutton02" class="btn btn-default" style="background-color:red;color:white;border: 0px;"> <span class="glyphicon glyphicon-trash"></span> 删除</button>
         <button id="searchbtn" class="btn btn-default" style="background-color:#97a098;color:white;border: 0px;"><span class="glyphicon glyphicon-search"></span> 搜索</button>
        <button id="getTableData02" class="btn btn-default" style="background-color:#b9c135;color:white;border: 0px;"> <span class="glyphicon glyphicon-download-alt"></span> 导出</button>
    </div>
    <table id="table02"></table>
</div>

    </div>
    
    <div  style=" width: 50%; overflow-x:auto; overflow-y:auto;float:left;background-color:white;">
  
  <div class="table-box" style="margin: 20px;">
    <div id="toolbar03">
        <button id="addbutton03" class="btn btn-default" style="background-color:#391caf;color:white;border: 0px;">
          <span class="glyphicon glyphicon-plus"></span> 新增</button>
         <button id="delbutton03" class="btn btn-default" style="background-color:red;color:white;border: 0px;">
         <span class="glyphicon glyphicon-trash"></span> 删除</button>
         <button id="searchbtn" class="btn btn-default" style="background-color:#97a098;color:white;border: 0px;"><span class="glyphicon glyphicon-search"></span> 搜索</button>
        <button id="getTableData03" class="btn btn-default" style="background-color:#b9c135;color:white;border: 0px;">
     <span class="glyphicon glyphicon-download-alt"></span> 导出</button>
    </div>
    <table id="table03"></table>
</div>

    </div>
   
    </div>
    